/* Player Stats Stylesheet
   ---------------------------------------------------
   Author: Ty_ger07 ( http://open-web-community.com/ )
   ---------------------------------------------------
*/
*{
	margin: 0 auto;
	padding: 0;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
body{
	margin: 0 auto;
	padding: 0;
	text-align: left;
	height: 100%;
	width: 100%;
	background: #070300;
	background-image: url("../images/BF4.jpg");
	background-position: top left;
	background-repeat: repeat-x;
	background-attachment: fixed;
	font-family: Arial, Arial, Arial, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
}
a, a:visited{
	color: #DAA520;
	text-decoration: none;
}
a:hover, a:active{
	color: #FCC742;
	text-decoration: none;
}
.imagebutton{
	box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.5)
}
.imagebutton:hover, .imagebutton:active{
	box-shadow: 1px 1px 10px 1px rgba(30,30,30,0.5)
}
#pagebody{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-image: linear-gradient(170deg, rgba(100,000,000,0.4), rgba(000,000,100,0.4), rgba(000,000,100,0.3));
	background-position: left top;
	background-repeat: repeat;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #000;
}
/* split these into two separate divs for compatibility view reasons so that there is some change in opacity from background */
#pagebodyback{
	background-image: url("../images/50.png");
	border-radius: 10px;
}
.topcontent{
	margin-left: auto;
	margin-right: auto;
	width: 97%;
	padding-bottom: 2px;
}
.menucontent{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-image: url("../images/40.png"), linear-gradient(170deg, rgba(020,000,000,0.4), rgba(040,040,040,0.2), rgba(000,000,020,0.4));
	background-position: left top;
	background-repeat: repeat;
	border-radius: 10px;
	padding-bottom: 2px;
	box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.5);
}
.menucontent a:link, .menucontent a:visited{
	color: #DAA520;
}
.menucontent a:hover, .menucontent a:active{
	color: #FCC742;
}
.middlecontent{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-image: url("../images/40.png"), linear-gradient(170deg, rgba(020,000,000,0.4), rgba(040,040,040,0.2), rgba(000,000,020,0.4));
	background-position: left top;
	background-repeat: repeat;
	border-radius: 10px;
	padding-bottom: 2px;
	box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.5);
}
.innercontent{
	margin-left: auto;
	margin-right: auto;
}
.shadowcontent{
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	background-image: linear-gradient(170deg, rgba(010,010,020,0.4), rgba(040,040,040,0.2), rgba(010,010,020,0.4));
	box-shadow: 2px 2px 30px 2px rgba(0,0,0,0.6);
	border-radius: 10px;
}
.prettyheader{
	color: #FDD853;
	padding: 3px;
}
.orderheader{
	color: #DAA520;
	padding-left: 20px;
	padding-right: 10px;
	background-image: url("../images/order.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0% 50%;
}
.orderheader a:link, .orderheader a:visited{
	color: #DAA520;
}
.orderheader a:hover, .orderheader a:active{
	color: #FCC742;
}
.orderedASCheader{
	color: #DAA520;
	padding-left: 20px;
	padding-right: 10px;
	background-image: url("../images/ordereda.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0% 50%;
}
.orderedASCheader a:link, .orderedASCheader a:visited{
	color: #DAA520;
}
.orderedASCheader a:hover, .orderedASCheader a:active{
	color: #FCC742;
}
.orderedDESCheader{
	color: #DAA520;
	padding-left: 20px;
	padding-right: 10px;
	background-image: url("../images/orderedd.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0% 50%;
}
.orderedDESCheader a:link, .orderedDESCheader a:visited{
	color: #DAA520;
}
.orderedDESCheader a:hover, .orderedDESCheader a:active{
	color: #FCC742;
}
.pagination a:link, .pagination a:visited{
	color: #DAA520;
}
.pagination a:hover, .pagination a:active{
	color: #FCC742;
}
.prettytable{
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	border-radius: 2px;
}
th{
	font-weight: normal;
	background-image: url("../images/40.png");
	background-position: left top;
	background-repeat: repeat;
	height: 30px;
	padding: 3px;
	box-shadow: 0px 0px 1px #000;
	border-radius: 2px;
}
.tablecontents{
	text-align: left;
	background-image: url("../images/40.png"), linear-gradient(170deg, rgba(120,100,100,0.1), rgba(110,110,130,0.1));
	background-position: left top;
	background-repeat: repeat;
	padding: 3px;
	box-shadow: 0px 0px 1px #111;
}
.inputbox{
	width: 90px;
	background-color: transparent;
	color: #BBBBBB;
	border: 1px solid #222222;
}
.button{
	cursor: pointer;
	background-color: transparent;
	color: #DAA520;
	border: 0px solid #444444;
}
.alertbutton{
	cursor: pointer;
	background-color: #222222;
	color: #FF0000;
	border: 1px solid #444444;
}
.headline{
	font-size: 14px;
	color: #DDDDDD;
	border-radius: 4px;
}
.teamname{
	color: #B2DDED;
}
.alert{
	color: #FF0000;
}
.information{
	color: #AAAAAA;
}
.footertext{
	color: #888888;
}